<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/unpoly@0.62.1/dist/unpoly.min.js" integrity="sha384-4PWpXaib3dqJ5r6dXwq3YOW0OFmH7NTjH697AUQR7W4Q0F+GqP+dD0SrBfIc9b2t" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/unpoly@0.62.1/dist/unpoly.min.css" integrity="sha384-Au6LjS9fxDpwn3+26YmukmOumZUmryd8ONenkVIoH4eEPH1tACqLsVfqz9tBrvQy" crossorigin="anonymous">
    
    <title>{#insert title}Default Title{/}</title>

    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="msg-container">
      {#insert message}{/}
    </div>
    <div class="main">
      <div class="flex justify-center h-screen bg-indigo-100 overflow-y-scroll">
        {#insert pageContent}No content!{/}
      </div>
    </div>
    <script>
      up.compiler('#msg-alert', function() {
        setTimeout(function() {
          up.destroy('#msg-alert', {
                    animation: 'fade-out',
                    delay: 0,
                    duration: 250,
                    easing: 'linear'
                  });
        }, 2000);
      });
      up.compiler('#taskLoading', function() {
        setTimeout(function() {
          up.replace('#taskList', '/task', {
                    failTarget: '#msg-container',
                    source: false,
                    transition: 'fade-in',
                    headers: {
                      'Accept': 'text/html'
                    }
                  });
        }, 1500);
      });
    </script>
  </body>
</html>
